.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient( 17.16deg,
              #294861 4.81%, #0E1C26 59.69%);
}

.header {
  height: 100vh;
}

.info {
  width: 570px;
  height: 210px;
  padding-top: 10%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 5px 10px 3px rgba(0, 0, 0, 0.363);
  background-color: #e2e2e2;
  margin-left: -50%;
  margin-top: 6rem;
}

.info h1 {
  font-size: 38px;
  font-weight: 700;
}

.download {
  width: 120px;
  height: 52px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-left: -37%;
  margin-top: 10px;

  border: transparent;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 5px 10px 3px rgba(0, 0, 0, 0.363);
  font-family: 'Roboto Mono';
  cursor: pointer;
  margin-bottom: 6rem;
}

.contato {
  width: 120px;
  height: 52px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  margin-left: 27%;
  margin-top: 10px;

  border: transparent;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 5px 10px 3px rgba(0, 0, 0, 0.363);
  font-family: 'Roboto Mono';
  cursor: pointer;
  margin-bottom: 6rem;
}

.body {
  width: 100%;
}

.skills {
  width: 100%;
  height: 100vh;
  color: #fff;
  text-align: center;
  background-color: #08141c;
  padding-top: 50px;
}

.left {
  margin-top: 48px;
  margin-left: -164px;
}

.html5 {
  display: flex;
  margin-left: 489px;
  margin-top: 48px;
}

.html5 h1 {
  margin-left: 10px;
}

.html5 span {
  width: 267px;
  height: 30px;
  margin-left: -70px;
  margin-top: 40px;
  border: 2px solid rgb(0, 157, 255);
}

.nivel1 {
  width: 150px;
  height: 28.5px;
  background-color: rgb(0, 157, 255);
}

.css3 {
  display: flex;
  margin-left: 489px;
  margin-top: 48px;
}

.css3 h1 {
  margin-left: 10px;
}

.css3 span {
  width: 267px;
  height: 30px;
  margin-left: -55.5px;
  margin-top: 40px;
  border: 2px solid rgb(0, 157, 255);
}

.nivel2 {
  width: 150px;
  height: 28.5px;
  background-color: rgb(0, 157, 255);
}

.javascript {
  display: flex;
  margin-left: 489px;
  margin-top: 48px;
}

.javascript h1 {
  margin-left: 10px;
}

.javascript span {
  width: 267px;
  height: 30px;
  margin-left: -142px;
  margin-top: 40px;
  border: 2px solid rgb(0, 157, 255);
}

.nivel3 {
  width: 150px;
  height: 28.5px;
  background-color: rgb(0, 157, 255);
}

.right {
  margin-top: -361px;
  margin-left: -130px;
}

.nodejs {
  display: flex;
  margin-left: 978px;
  margin-top: 53px;
}

.nodejs h1 {
  margin-left: 10px;
}

.nodejs span {
  width: 267px;
  height: 30px;
  margin-left: -100px;
  margin-top: 41.5px;
  border: 2px solid rgb(0, 157, 255);
}

.nivel4 {
  width: 150px;
  height: 28.5px;
  background-color: rgb(0, 157, 255);
}

.reactjs {
  display: flex;
  margin-left: 978px;
  margin-top: 50px;
}

.reactjs h1 {
  margin-left: 10px;
}

.reactjs span {
  width: 267px;
  height: 30px;
  margin-left: -115px;
  margin-top: 39px;
  border: 2px solid rgb(0, 157, 255);
}

.nivel5 {
  width: 150px;
  height: 28.5px;
  background-color: rgb(0, 157, 255);
}

.nextjs {
  display: flex;
  margin-left: 978px;
  margin-top: 50px;
}

.nextjs h1 {
  margin-left: 10px;
}

.nextjs span {
  width: 267px;
  height: 30px;
  margin-left: -100px;
  margin-top: 37.5px;
  border: 2px solid rgb(0, 157, 255);
}

.nivel6 {
  width: 150px;
  height: 28.5px;
  background-color: rgb(0, 157, 255);
}

.projects {
  width: 100%;
  height: 57vh;
  color: #fff;
  text-align: center;
  background-color: #040d12;
  padding-top: 50px;
}

.logos {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 250px;
}

.about {
  width: 100%;
  height: 70vh;
  color: #fff;
  text-align: center;
  background-color: #08141c;
  padding-top: 50px;
}

.contacts {
  width: 100%;
  height: 120vh;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

.name label {
  margin-left: -87%;
  font-size: 18px;
  font-weight: 600;
}

.name input {
  width: 1360px;
  height: 50px;
  border-radius: 8px;
  background-color: #fff;
  border: transparent;
  flex-direction: column;
  display: flex;
  margin-left: 5%;
  
  box-shadow: 1px 5px 10px 3px rgba(0, 0, 0, 0.363);
}

.email {
  margin-top: 59px;
}

.email label {
  margin-left: -86%;
  font-size: 18px;
  font-weight: 600;
}

.email input {
  width: 1360px;
  height: 50px;
  border-radius: 8px;
  background-color: #fff;
  border: transparent;
  flex-direction: column;
  display: flex;
  margin-left: 5%;

  box-shadow: 1px 5px 10px 3px rgba(0, 0, 0, 0.363);
}

.message {
  margin-top: 58.52px;
}

.message label {
  margin-left: -85%;
  font-size: 18px;
  font-weight: 600;
}

.message input {
  width: 1360px;
  height: 318.74px;
  border-radius: 8px;
  background-color: #fff;
  border: transparent;
  flex-direction: column;
  display: flex;
  margin-left: 5%;

  box-shadow: 1px 5px 10px 3px rgba(0, 0, 0, 0.363);
}

.contacts button {
  width: 1360px;
  height: 60px;
  margin-top: 39.74px;
  border-radius: 8px;

  font-size: 20px;
  font-weight: 600;
  font-family: 'Roboto Mono', sans-serif;
  cursor: pointer;

  border: transparent;
  background-color: #1a3344;
  box-shadow: 1px 5px 10px 3px rgba(0, 0, 0, 0.363);
}