.nav {
  width: 100%;
  height: 72px;
  display: flex;
  color: #ffffff;
  font-family: 'Roboto Mono';
  background-color: #17181F;
}

.ul {
  display: flex;
  padding: .5rem;
  margin-top: 1.1rem;
}

.skills {
  position: absolute;
  width: 58px;
  height: 14px;
  left: 65vw;
  top: 29px;

  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
  cursor: pointer;
}

.projects {
  position: absolute;
  width: 77px;
  height: 14px;
  left: 73vw;
  top: 29px;

  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
  cursor: pointer;
}

.contacts {
  position: absolute;
  width: 69px;
  height: 14px;
  left: 82vw;
  top: 29px;

  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
  cursor: pointer;
}